/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    color: white;
    background-color: #FD6E0A;
    padding: 15px 35px 15px 35px;
    border: none;
    border-radius: 5px;
}

/* nav related style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #181818;
    font-size: 20px;
    font-weight: 400;
}

nav>ul>li .btn-primary {
    flex-shrink: 0;
    font-size: 20px;
    font-weight: 700;
}

/* header section styles */
.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 0 30px 0 200px;
    display: flex;
    align-items: center;
}

.banner .prifile-pic {
    width: 500px;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    margin-bottom: 0;
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner {
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner-description {
    margin-top: 0;
    margin-bottom: 30px;
    max-width: 585px;
}

.banner>.banner-content>.download {
    margin-right: 55px;
}

/* main section started */

.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-descriptions {
    width: 827px;
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0 155px 0 155px;
}

.about>table{
    padding: 50px;
    text-align: center;
}
.about> table .title{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding: 0 155px 0 155px;
}
.about> table .data{
    color: #181818;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding: 0 155px 0 155px;
}